@model WEB2020Apr_P01_T4.Models.Aircraftschedule

@{
    Layout = "/Pages/Shared/_layoutcustomer.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/customer.css">

<br />
<h1 class="PageTitle">Passenger Details</h1>

<br />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="BookingID" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("BookingID")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PassengerName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("PassengerName")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PassportNumber" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("PassportNumber")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Nationality" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Nationality")
        </div>
    </div>
    <div class="table-responsive">
        <table id="viewStaff" class="table table=striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>FlightNumber</th>
                    <th>Departure City</th>
                    <th>Departure Country</th>
                    <th>Departure Date & Time </th>
                    <th>Arrival City</th>
                    <th>Arrival Country</th>
                    <th>Arrival Date & Time </th>
                    <th>Flight Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.Display("FlightNumber")</td>
                    <td>@Html.Display("DepartureCity")</td>
                    <td>@Html.Display("DepartureCountry")</td>
                    <td>@Html.Display("DepartureDateTime")</td>
                    <td>@Html.Display("ArrivalCity")</td>
                    <td>@Html.Display("ArrivalCountry")</td>
                    <td>@Html.Display("ArrivalDateTime")</td>
                    <td>@Html.Display("FlightDuration")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <label asp-for="SeatClass" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("SeatClass")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="AmtPayable" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("AmtPayable")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Remarks" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Remarks")
        </div>
    </div>
    <div>
        <a asp-action="ViewAirTicket">Back to View Air Ticket</a>
    </div>
</fieldset>