@model IEnumerable<WEB2020Apr_P01_T4.Models.Aircraft>
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewAircraft" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Model Name</th>
                    <th>business class seats</th>
                    <th>economy class seats</th>
                    <th>date of last maintenance</th>
                    <th>Flight assigned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.AircraftID</td>
                    <td>@item.AircraftModel</td>

                    <td>@item.NumBusinessSeat</td>
                    <td>@item.NumEconomySeat</td>
                    <td>@item.DateLastMaintenance</td>
                   
                    <td>
                        <button type="button" class="btn btn-primary">Assign</button>
                        <button type="button" class="btn btn-light">Update</button>
               
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color: red;">No record found!</span>
}