@model WEB2020Apr_P01_T4.ViewModel.AircraftScheduleViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "DisplayAircraft";
    bool maintain = (bool)ViewData["maintain"]; 
    if (maintain == null)
    {
        maintain = true;
    }
}

<h1 class="pl-5" style="color:#80A4ED;">
    Aircraft
</h1>
<div class="float-right pr-5">
    
    <a class="pr-5" asp-action="DisplayAircraft" asp-route-maintain=@maintain asp-controller="AircraftAssignment">
        Maintain <img src="~/icons/baseline_flight_black_18dp.png"
                      width="20"
                      height="20"
                      style="vertical-align:middle;" />
    </a>
    <a href="~/AircraftAssignment/CreateAircraft">
        Add <img src="~/icons/baseline_flight_black_18dp.png"
                 width="20"
                 height="20"
                 style="vertical-align:middle;" />
    </a>
</div>
@if (Model.aircraftList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewAircraft" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Model Name</th>
                    <th>business class seats</th>
                    <th>economy class seats</th>
                    <th>date of last maintenance</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.aircraftList)
                {
                    string selectedRow = "";
                    if (ViewData["selectedAircraft"].ToString() == item.AircraftID.ToString())
                    {
                        selectedRow = "class='table-primary'";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.AircraftID</td>
                        <td>@item.AircraftModel</td>
                        <td>@item.NumBusinessSeat</td>
                        <td>@item.NumEconomySeat</td>
                        <td>@item.DateLastMaintenance</td>
                        <td>@item.Status</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="DisplayAircraft" asp-controller="AircraftAssignment" asp-route-id="@item.AircraftID">View Schedule</a> 
                                    <a class="dropdown-item" asp-action="AssignAircraft" asp-controller="AircraftAssignment" asp-route-id="@item.AircraftID">Assign</a> 
                                    <a class="dropdown-item" asp-action="UpdateAircraft" asp-controller="AircraftAssignment" asp-route-id="@item.AircraftID">Update</a>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                 }
                

            </tbody>
        </table>
    </div>

    @if (ViewData["selectedAircraft"].ToString() != "")
    {
        if (Model.scheduleList.Count != 0)
        {
            <h5> Flight Schedules for Aircraft  @ViewData["selectedAircraft"].ToString() :</h5>
            <div class="table-responsive">
                <table id="viewAircraft" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Flight Number(ScheduleID)</th>
                            <th scope="col">RouteID</th>
                            <th scope="col">Arrival DateTimee</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.scheduleList)
                        {
                            <tr>
                                <td>@item.FlightNumber (@item.ScheduleID)</td>
                                <td>@item.RouteID</td>
                                <td>@item.ArrivalDateTime</td>
                                <td>@item.DepartureDateTime</td>
                                <td>@item.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h5>No flight schedules for selected Aircraft!  </h5>
        }
    }


}
else
{
    <span style="color: red;">No record found!</span>
}



