@model WEB2020Apr_P01_T4.ViewModel.AircraftScheduleViewModel
@{
    Layout = "/Views/Shared/_StaffLayout.cshtml";
    ViewData["Title"] = "Maintain Aircraft";
}

<h1 class="pl-5">
    Aircraft
</h1>
<p>that have not been maintained for more than 30 days</p>

@if (Model.aircraftList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewAircraft" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Model Name</th>
                    <th>business class seats</th>
                    <th>economy class seats</th>
                    <th>date of last maintenance</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.aircraftList)
                {

                    <tr>
                        <td>@item.AircraftID</td>
                        <td>@item.AircraftModel</td>

                        <td>@item.NumBusinessSeat</td>
                        <td>@item.NumEconomySeat</td>
                        <td>@item.DateLastMaintenance</td>
                        <td>@item.Status</td>


                        <td>
                            <a asp-action="UpdateAircraft" asp-controller="AircraftAssignment" asp-route-id="@item.AircraftID">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <span style="color: red;">No record found!</span>
}


