
<table class="table">
    <thead>
        <tr>
            <th scope="col">RouteID</th>
            <th scope="col">DepartureCity</th>
            <th scope="col">DepartureCountry</th>
            <th scope="col">ArrivalCity</th>
            <th scope="col">ArrivalCountry</th>
            <th scope="col">FlightDuration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <th scope="row">@route.RouteID</th>
                <td>@route.DepartureCity</td>
                <td>@route.DepartureCountry</td>
                <td>@route.ArrivalCity</td>
                <td>@route.ArrivalCountry</td>
                @if (@route.FlightDuration != null)
                {
                    <td>@route.FlightDuration</td>
                }
                else
                {
                    <td>UNKNOWN</td>
                }

            </tr>

        }


    </tbody>
</table>

