@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Route ID</th>
            <th scope="col">Departure City</th>
            <th scope="col">Departure ountry</th>
            <th scope="col">Arrival City</th>
            <th scope="col">Arrival Country</th>
            <th scope="col">Flight Duration</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.RouteList)
        {
            <tr>
                <th scope="row">@route.RouteID</th>
                <td>@route.DepartureCity</td>
                <td>@route.DepartureCountry</td>
                <td>@route.ArrivalCity</td>
                <td>@route.ArrivalCountry</td>
                @if (@route.FlightDuration != null)
                {
                    <td>@route.FlightDuration</td>
                }
                else
                {
                    <td>UNKNOWN</td>
                }
                <td>
                
                    <button routeid=@route.RouteID class="btn btn-primary addFlightbutton">Add</button>
                </td>

            </tr>

        }


    </tbody>
</table>


<div class="bg-Flight-modal">
    <div class="modal-contents">

        <div class="close close-Flight">+</div>
        <h1>Create New Flight Schedule</h1>
        @using (@Html.BeginForm("SaveSchedule", "FlightScheduling", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.FlightNumber)
                @Html.TextBoxFor(m => m.CreateSchedule.FlightNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.DepartureDateTime)
                @Html.TextBoxFor(m => m.CreateSchedule.DepartureDateTime, new { @class = "form-control", @type= "datetime-local" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.EconomyClassPrice)
                @Html.TextBoxFor(m => m.CreateSchedule.EconomyClassPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.BusinessClassPrice)
                @Html.TextBoxFor(m => m.CreateSchedule.BusinessClassPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.RouteID)
                @Html.TextBoxFor(m => m.CreateSchedule.RouteID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.Status)
                @Html.DropDownListFor(m => m.CreateSchedule.Status, new SelectList(Model.CreateSchedule.getStatusOption()), new { @class = "form-control" })
            </div>

            

            <button type="submit" class="btn btn-primary">Submit</button>
        }

    </div>
</div>




<script>
    var elements = document.getElementsByClassName('addFlightbutton');

    for (var i = 0; i < elements.length; i++) {

        
        elements[i].addEventListener('click', element => popup(element), true);
    }

    document.querySelector('.close-Flight').addEventListener("click", function () {
        document.querySelector('.bg-Flight-modal').style.display = "none";
    });


    function popup(element, id) {


        document.querySelector('.bg-Flight-modal').style.display = "flex";
        
        var rid = element.target.getAttribute("routeid")
        console.log(rid)
        $("#CreateSchedule_RouteID").val(rid)
    }
</script>

