@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel

<table id="myTable" class="table ">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().RouteID)</th>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().DepartureCity)</th>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().DepartureCountry)</th>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().ArrivalCity)</th>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().ArrivalCountry)</th>
            <th scope="col">@Html.DisplayNameFor(route => route.RouteList.First().FlightDuration)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.RouteList)
        {
            <tr>
                <td >@route.RouteID</td>
                <td>@route.DepartureCity</td>
                <td>@route.DepartureCountry</td>
                <td>@route.ArrivalCity</td>
                <td>@route.ArrivalCountry</td>
                @if (@route.FlightDuration != null)
                {
                    <td>@route.FlightDuration</td>
                }
                else
                {
                    <td>UNKNOWN</td>
                }
                <td>@Html.ActionLink("Add", "AddSchedule", "FlightScheduling", new { @id = route.RouteID }, new { @class = "btn btn-primary " })</td>



            </tr>

        }


    </tbody>
</table>

@if (Model.ShowAddPop)
{
    @await Html.PartialAsync("_ScheduleForm.cshtml", Model.CreateSchedule)
}


