@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">RouteID</th>
            <th scope="col">AircraftID</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Arrival Date and Time</th>
            <th scope="col">Economy Price</th>
            <th scope="col">Business Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.FlightScheduleList)
        {
            <tr>
                <th scope="row">@schedule.FlightNumber</th>
                <td>@schedule.RouteID</td>
                <td>@schedule.AircraftID</td>
                <td>@schedule.DepartureDateTime</td>
                <td>@schedule.ArrivalDateTime</td>
                <td>@schedule.EconomyClassPrice</td>
                <td>@schedule.BusinessClassPrice</td>
                <td>@schedule.Status</td>
                <td><button id="button" class="btn btn-primary">Add</button></td>

            </tr>

        }


    </tbody>
</table>




<div class="bg-modal">
    <div class="modal-contents">

        <div class="close">+</div>
        <h1>Create New Flight Schedule </h1>
        @using (@Html.BeginForm("SaveSchedule", "FlightScheduling"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.FlightNumber)
                @Html.TextBoxFor(m => m.CreateSchedule.FlightNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.DepartureDateTime)
                @Html.TextBoxFor(m => m.CreateSchedule.DepartureDateTime, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.EconomyClassPrice)
                @Html.TextBoxFor(m => m.CreateSchedule.EconomyClassPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.BusinessClassPrice)
                @Html.TextBoxFor(m => m.CreateSchedule.BusinessClassPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.RouteID)
                @Html.TextBoxFor(m => m.CreateSchedule.RouteID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateSchedule.Status)
                @Html.DropDownListFor(m => m.CreateSchedule.Status, new SelectList(Model.CreateSchedule.getStatusOption()), new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }

    </div>
</div>




<script>
document.getElementById('button').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "flex";
    });

    document.querySelector('.close').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "none";
    });</script>
