@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel

<table id="myTable" class="table">
    <thead>
        <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">RouteID</th>
            <th scope="col">AircraftID</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Arrival Date and Time</th>
            <th scope="col">Economy Price</th>
            <th scope="col">Business Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.FlightScheduleList)
        {
            <tr>
                <td>@schedule.FlightNumber</td>
                <td>@schedule.RouteID</td>
                <td>@schedule.AircraftID</td>
                <td>@schedule.DepartureDateTime</td>
                <td>@schedule.ArrivalDateTime</td>
                <td>@schedule.EconomyClassPrice</td>
                <td>@schedule.BusinessClassPrice</td>
                <td>@schedule.Status</td>

                <td>
                    @Html.ActionLink("Edit", "EditSchedule", "FlightScheduling", new { @id = schedule.ScheduleID }, new { @class = "btn btn-primary " })
                    @Html.ActionLink("View", "FlightBooking", "FlightScheduling", new { @id = schedule.ScheduleID }, new { @class = "btn btn-primary " })
                </td>
            </tr>

        }


    </tbody>
</table>

@if (Model.ShowEditPop)
{
    @await Html.PartialAsync("_ScheduleForm.cshtml", Model.CreateSchedule)
}



