@model IEnumerable<WEB2020Apr_P01_T4.Models.FlightSchedule>
@{
}




<table class="table">
    <thead>
        <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">RouteID</th>
            <th scope="col">AircraftID</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Arrival Date and Time</th>
            <th scope="col">Economy Price</th>
            <th scope="col">Business Price</th>
            <th scope="col">Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <th scope="row">@schedule.FlightNumber</th>
                <td>@schedule.RouteID</td>
                <td>@schedule.AircraftID</td>
                <td>@schedule.DepartureDateTime</td>
                <td>@schedule.ArrivalDateTime</td>
                <td>@schedule.EconomyClassPrice</td>
                <td>@schedule.BusinessClassPrice</td>
                <td>@schedule.Status</td>
            </tr>

        }


    </tbody>
</table>

