@model WEB2020Apr_P01_T4.ViewModel.ScheduleRouteViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/FlightSchedule.css">
</head>


<div class="container-fluid top-page con">
    <div class="row">
        <div class="col col-sm ">
            <p class="title">Flight Scheduling</p>
        </div>
        <div class="col col-sm">
            <p class="right"><button id="button" class="btn btn-primary create">Create Flight Route</button></p>
        </div>
    </div>
</div>

<div class="container-fluid dash">


    <div class="row dash-search">

        <div class="col col-sm search-col">
            <p id="view-title">Flight Route View</p>

            <select id="options" name="searchOption">
                @for (int i = 0; i < Model.SearchOption.Count(); i++)
                {
                    <option value="@i">@Model.SearchOption[i]</option>
                }

            </select>

            <input type="text" id="search" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>

        <div class="col-sm table-switch right">
            @Html.ActionLink("Flight Route", "Index", "FlightScheduling", new { @isFlightSchedule = false }, new { @class = "btn btn-primary " })
            @Html.ActionLink("Flight Scheduling", "Index", "FlightScheduling", new { @isFlightSchedule = true }, new { @class = "btn btn-primary " })

        </div>
    </div>

    <div class="row">
        <div class="col col-sm">
            <p class="dash-info green"><span class="dash-header"> @Model.TicketSize</span> <br>Tickets Brought</p>
        </div>
        <div class="col-sm">
            <p class="dash-info red"><span class="dash-header"> @Model.ScheduleViewModel.RouteList.Count()</span> <br>Routes</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            @if (Model.isFlightSchedule)
            {
                @await Html.PartialAsync("_Schedules.cshtml", Model.ScheduleViewModel)
            }
            else
            {
                @await Html.PartialAsync("_Route.cshtml", Model.ScheduleViewModel)
            }


        </div>
    </div>
</div>


<div class="bg-modal">
    <div class="modal-contents">

        <div class="close">+</div>
        <h1>Create Flight Route</h1>
        @using (@Html.BeginForm("SaveRoute", "FlightScheduling"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.DepartureCountry)
                @Html.TextBoxFor(m => m.CreateRoute.DepartureCountry, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.DepartureCity)
                @Html.TextBoxFor(m => m.CreateRoute.DepartureCity, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.ArrivalCountry)
                @Html.TextBoxFor(m => m.CreateRoute.ArrivalCountry, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.ArrivalCity)
                @Html.TextBoxFor(m => m.CreateRoute.ArrivalCity, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.FlightDuration)
                @Html.TextBoxFor(m => m.CreateRoute.FlightDuration, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }

    </div>
</div>








<script src="~/js/FlightSchedule.js" asp-append-version="true"></script>