@model WEB2020Apr_P01_T4.ViewModel.ScheduleRouteViewModel
@{
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/FlightSchedule.css">
</head>



<button id="button" class="btn btn-primary">Add Flight Route</button>

<div class="bg-modal">
    <div class="modal-contents">

        <div class="close">+</div>
        <h1>Create Flight Route</h1>
        @using (@Html.BeginForm("SaveRoute", "FlightScheduling"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.DepartureCountry)
                @Html.TextBoxFor(m => m.CreateRoute.DepartureCountry, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.DepartureCity)
                @Html.TextBoxFor(m => m.CreateRoute.DepartureCity, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.ArrivalCountry)
                @Html.TextBoxFor(m => m.CreateRoute.ArrivalCountry, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.ArrivalCity)
                @Html.TextBoxFor(m => m.CreateRoute.ArrivalCity, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateRoute.FlightDuration)
                @Html.TextBoxFor(m => m.CreateRoute.FlightDuration, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }

    </div>
</div>


<script>document.getElementById('button').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "flex";
    });

    document.querySelector('.close').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "none";
    });</script>






@await Html.PartialAsync("_Route.cshtml", Model.ScheduleViewModel)
@await Html.PartialAsync("_Schedules.cshtml", Model.ScheduleViewModel)