@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel
@{ Layout = "/Views/Shared/_Layout.cshtml";

                int count = Model.FlightScheduleList == null ? 0 : @Model.FlightScheduleList.Count();

                if (ViewBag.Flitered == null)
                {
                    ViewBag.Flitered = false;
                } }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/FlightSchedule.css">
</head>


<div class="container-fluid top-page con">
    <div class="row">
        <div class="col col-sm ">
            <p class="title">Flight Scheduling</p>
        </div>
        <div class="col col-sm">

        </div>
    </div>
</div>



<div class="container-fluid dash">


    <div class="row dash-search">

        <div class="col col-sm search-col">
            <p id="view-title">Schedules View</p>

            <select id="options" name="searchOption">
                @for (int i = 0; i < Model.SearchOption.Count(); i++)
                {
    <option value="@i">@Model.SearchOption[i]</option>}

            </select>

            <input type="text" id="search" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>

        <div class="col-sm table-switch right">
            @Html.ActionLink("Flight Route", "Index", "FlightScheduling", new { }, new { @class = "btn btn-primary " })
            @Html.ActionLink("Flight Scheduling", "Schedule", "FlightScheduling", new { }, new { @class = "btn btn-primary " })
        </div>
    </div>

    <div class="row">
        <div class="col col-sm">
            @if (ViewBag.Flitered)
            {
<p class="dash-info green"><span class="dash-header"> @Model.FlightScheduleList[0].RouteID</span> <br>RouteID</p> }
            else
            {
                <p class="dash-info green"><span class="dash-header"> @Model.TicketSize</span> <br>Total Tickets Brought</p>
            }

        </div>
        <div class="col-sm">
            <p class="dash-info red"><span class="dash-header">@count</span> <br>Schedules</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            @if (count == 0)
            {
<p class="noValueError">No Records Found!</p> }
            else
            {
<table id="myTable" class="table">
    <thead>
        <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">RouteID</th>
            <th scope="col">AircraftID</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Arrival Date and Time</th>
            <th scope="col">Economy Price</th>
            <th scope="col">Business Price</th>
            <th scope="col">Aircraft</th>
            <th scope="col">Economy Seats</th>
            <th scope="col">Business Seat</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int pos = 0; pos < Model.FlightScheduleList.Count; pos++)
        {
            FlightSchedule schedule = Model.FlightScheduleList[pos];
<tr>
    <td>@schedule.FlightNumber</td>
    <td>@schedule.RouteID</td>
    <td>@schedule.AircraftID</td>
    @if (@schedule.DepartureDateTime.HasValue)
    {
        <td>@Html.DisplayFor(modelItem => schedule.DepartureDateTime)</td>
        <td>@Html.DisplayFor(modelItem => schedule.ArrivalDateTime)</td>
    }
    else
    {
        <td>Null</td>
        <td>Null</td>
    }

    <td>@Html.DisplayFor(modelItem => schedule.EconomyClassPrice)</td>
    <td>@Html.DisplayFor(modelItem => schedule.BusinessClassPrice)</td>
    <td>@schedule.AircraftID</td>
    <td>@ViewBag.ecoOccupied[pos]</td>
    <td>@ViewBag.bOccupied[pos]</td>
    <td>@schedule.Status</td>

    <td>
        @Html.ActionLink("", "FlightBooking", "FlightScheduling", new { @id = schedule.ScheduleID }, new { @class = "fa fa-eye" })
        @Html.ActionLink("", "Assign", "FlightPersonnel", new { @id = schedule.ScheduleID }, new { @class = "fa fa-users" })
        @if (schedule.Status == "Opened")
        {
            <i class="fa fa-edit Edit" data-schedule="@schedule.ScheduleID"></i>
        }

    </td>
</tr>}


    </tbody>
</table>            }

        </div>
    </div>
</div>

@if (Model.ShowEditPop)
{
@await Html.PartialAsync("_ScheduleForm.cshtml", Model.FlightSchedule)
}

<div id="searchResults" >

</div>

<script src="~/js/FlightSchedule.js" asp-append-version="true"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        
        $('.Edit').click(function (e) {
            var id = $(this).data('schedule');      
            console.log(e.target.schedule);
            $.get('@Url.Action("EditSchedule", "FlightScheduling")', { id: id }, function (response) {
                $("#searchResults").html(response);
            });
            
        })
    })
</script>