@model WEB2020Apr_P01_T4.Models.FlightCrewID

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/FlightPersonnelEdit.css">
</head>

<h4 class="PageTitle">Edit Staff Record</h4>
<hr />
<div class="registration-form">
    <form asp-action="Assign">
        <fieldset class="FormContent">
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Flight Captain</label>
                @Html.DropDownListFor(id => id.ID1, (IEnumerable<SelectListItem>)ViewData["pilotList"])

            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Pilot</label>
                @Html.DropDownListFor(id => id.ID2, (IEnumerable<SelectListItem>)ViewData["pilotList"])

            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Flight Crew Leader</label>
                @Html.DropDownListFor(id => id.ID3, (IEnumerable<SelectListItem>)ViewData["attendantList"])
            </div>

            <div class="form-group">
                <label class="col-sm-3 col-form-label">Flight Attendant</label>
                @Html.DropDownListFor(id => id.ID4, (IEnumerable<SelectListItem>)ViewData["attendantList"])

            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Flight Attendant</label>
                @Html.DropDownListFor(id => id.ID5, (IEnumerable<SelectListItem>)ViewData["attendantList"])

            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Flight Attendant</label>
                @Html.DropDownListFor(id => id.ID6, (IEnumerable<SelectListItem>)ViewData["attendantList"])

            </div>
            <div class="form-group">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <a class="text-danger">@TempData.Peek("ErrorMessage")</a>
            }
    </fieldset>
</form>
</div>

