@model WEB2020Apr_P01_T4.ViewModel.ScheduleViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/FlightPersonnelEdit.css" />
</head>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>View Staff</h2> <br />
                        <input type="text" id="search" onkeyup="myFunction()" placeholder="Search...">
                    </div>
                </div>
            </div>
            <table id="viewSchedule" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Flight Number</th>
                        <th>RouteID</th>
                        <th>AircraftID</th>
                        <th>Departure Date and Time</th>
                        <th>Arrival Date and Time</th>
                        <th>Aircraft</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var schedule in Model.FlightScheduleList)
                    {
                        <tr>
                            <td>@schedule.FlightNumber</td>
                            <td>@schedule.RouteID</td>
                            <td>@schedule.AircraftID</td>
                            @if (@schedule.DepartureDateTime.HasValue)
                            {
                                <td>@Html.DisplayFor(modelItem => schedule.DepartureDateTime)</td>
                                <td>@Html.DisplayFor(modelItem => schedule.ArrivalDateTime)</td>
                            }
                            else
                            {
                                <td>Null</td>
                                <td>Null</td>

                            }
                            <td>@schedule.AircraftID</td>
                            <td>@schedule.Status</td>
                            <td>
                                @Html.ActionLink("", "FlightPersonnel", "Edit", new { @id = schedule.RouteID }, new { @class = "fa fa-edit" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
else
{
<span style="color:red">No record found!</span>
}

<script>
    function myFunction() {
        var input, filter, ul, tr, td, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("viewSchedule");
        tr = ul.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

