@model WEB2020Apr_P01_T4.Models.Airport

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
 
<div class="container">
  <div class="row">
      <div class="col-8">
          <h1>Airport Information</h1>
          @using (@Html.BeginForm("Index", "AirportCodes", new { @code = Model.Iata }, FormMethod.Post))
          {
              <div class="form-group">
                  @Html.LabelFor(m => m.Iata)
                  @Html.TextBoxFor(m => m.Iata, new { @class = "form-control", placeholder = "Search..." })
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
          }

          <p> <strong>Name: @Model.Name</strong>  </p>
          <p> <strong>Phone: @Model.Phone</strong></p>
          <p><strong>Website:</strong> <a href="#"> @Model.Website  </a></p>
          <br />
          <h1>Location</h1>
          <p> <strong>Latitude: @Model.Latitude</strong>  </p>
          <p> <strong>longitude: @Model.Longitude</strong></p>
          <p><strong>Location: @Model.Location</strong> <a href="#"></a></p>
          <p> <strong>Street_number: @Model.StreetNumber</strong>  </p>
          <p> <strong>City: @Model.City</strong>  </p>
          <p> <strong>State: @Model.State</strong>  </p>
          <p> <strong>Country: @Model.Country</strong>  </p>
          <p> <strong>Postal_code: @Model.PostalCode</strong>  </p>
      </div>
    <div class="col-4">
        <img src="~/images/ApiFlight.jpg"  class="img-rounded" alt="Cinque Terre">
    </div>
  </div>
  </div>
</div>